.small9 { font-size: 14px;}

@font-face {
  font-family: MyUnderwood;
  src: url(/fonts/MyUnderwood.ttf);
}


.logo_mobile
{
font-family:MyUnderwood;
font-size: 21px;
font-weight:bold;
}

.navbar-brand {display: none;}

.navbar-default {
  background-color: white;
  border-color: white; 
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.nav {
  margin: 0px;
}

.navbar {
  margin-left: 0px;
  margin-bottom: 0px;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: white;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}

ul.nav.navbar-nav li {
  padding:0px;
}

li.active a {
  font-weight: bold;
}

.navbar .nav > li > a {
  padding: 7px 5px 11px 10px;
}

h1 {
  font: 400 60px/1.3 'Bree Serif', Georgia, serif;
}
 
p {
  font: 400 14px/1.6 'Open Sans';
}

a.share {
  color : black;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
   #logo_welove,#address,#menu {display: none;}
   .navbar-brand {display: inline;};
} 

@media only screen and (min-width : 800px) {
  .navbar {margin-left: -40px }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 
 #logo_welove,#address,#menu {display: none;}
}
  